<article class="article">
    <div class="title">
        <span>
            <a href="/api/articles/{{id}}">{{article_title}}</a>
        </span>
        <span style="float:right">
            Posted by {{user.user_name}}
        </span>
            <br>
        <span style="float:right">
            {{comments.length}} {{format_plural "comment" comments.length}}
        </span>
    </div>    
    <div class="content">
        <p>
            {{article_body}}
        </p>
    </div>
</article>